{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js' | script_tag }}
{{ '"//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"' | script_tag }}
{{ '"//code.jquery.com/jquery-3.3.1.slim.min.js crossorigin="anonymous"' | script_tag }}
{{ '"//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"' | script_tag }}
{{ '"//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"' | stylesheet_tag }}

<!-- FormToEmail CSS -->
<style>
  form.fte, form.fte input, form.fte textarea, form.fte select, form.fte .fte-ckrad{font-size:16px;color:#222;font-family:verdana,sans-serif;line-height:1.3em;border-radius:0;outline:none;box-sizing:border-box;-webkit-text-size-adjust:100%;}    
  form.fte{max-width:600px;padding:0;margin:2em auto;}
  form.fte input, form.fte textarea, form.fte select, form.fte .fte-ckrad label{color:#666;background:#fff;border:1px solid #ccc;width:100%;padding:15px 20px;margin:15px 0 30px;transition: all .2s;}
  form.fte input[type="text"], form.fte input[type="submit"], form.fte textarea{-webkit-appearance:none;}
  form.fte input[type="submit"]{background:#444;color:#fff;padding:18px 28px;width:auto;border-radius:100px;cursor:pointer;border:none;margin:0;white-space:normal;}
  form.fte input[type="submit"]:hover{background:#666;}
  form.fte input:focus, form.fte textarea:focus, form.fte select:focus{border-color:#999;}
  form.fte select{-moz-appearance: none; -webkit-appearance: none; background: #fff url("data:image/gif;base64,R0lGODlhCgAFAJEAAGZmZv///////wAAACH5BAEHAAIALAAAAAAKAAUAAAIKhI+CKboNGWxmFgA7") no-repeat right 20px center;padding-right:20px;cursor:pointer;}   
  form.fte input[type="file"] {line-height:1em;font-size:1em;padding:10px;}
  form.fte .fte-ckrad, .g-recaptcha{margin-bottom:30px;}
  form.fte .fte-ckrad label{cursor:pointer;padding:0;margin:15px 0 0 1em;background:none;border:none;display:inline-block;width:auto;position:relative;}
  form.fte .fte-ckrad input{width:auto;margin:.5em 0 .5em .5em;cursor:pointer;display:inline-block;opacity:0;}
  form.fte .fte-ckrad input[type="radio"] + label::before{content:'';display:block;height:1.2em;width:1.2em;border:1px solid #ccc;border-radius:1em;position:absolute;left:-2em;top:0;background:#fff;box-shadow:inset 0px 0px 0px .3em #fff;transition: all .2s;}
  form.fte .fte-ckrad input[type="radio"]:checked + label::before{ background:#666;}
  form.fte .fte-ckrad input[type="checkbox"] + label::before{content:'\2713';display:block;height:1.2em;width:1.2em;border:1px solid #ccc;position:absolute;left:-2em;top:0;background:#fff;color:#fff;text-align:center;transition: all .2s;}
  form.fte .fte-ckrad input[type="checkbox"]:checked + label::before{color:#666;}
  form.fte input[type="file"] {line-height:1em;font-size:1em;padding:0;border:none;cursor: pointer;}
  form.fte .credit{font:10px arial;float:right;color:#999;margin-top:22px;}
  form.fte .credit a{color:#999;}

  #submitProduct {
    background:#444;
    color:#fff;
    padding:18px 28px;
    width:auto;
    border-radius:100px;
    cursor:pointer;
    border:none;margin:0;
    white-space:normal;
  }
</style>

<h2 class="reserve-header">Reserve Your Equipment Today</h2>


<div class="thankYou">
  <h2>Thank You</h2>
  <p id="thankyouNote">Someone will be reaching out to you soon to confirm your rental. In the meantime, feel free to browse our store and the great deals we offer.</p>
</div>
<p id="easy123"> Its as easy as 1-2-3!</p>

<br>
<div class="circledSteps">
  <img id="stepone" src="https://cdn.shopify.com/s/files/1/0067/8549/9194/files/step3.png?15474423734316688999" alt="step one">
  <img id="steptwo" src="https://cdn.shopify.com/s/files/1/0067/8549/9194/files/step2.png?15474423734316688999" alt="step two">
</div>
{% comment %} CALENDAR PICK/DROP OFF DATES {% endcomment %}



{% comment %} THIS SECTION IS USER INFO FORMS {% endcomment %}
{% comment %} H1HM132Q3OBG8MFQXPCU {% endcomment %}
<div>
  <!-- FormToEmail HTML -->	 
  <form action="https://formtoemail.com/user_forms.php" method="post" class="fte">
    <input type="hidden" name="user_id" value="V1XYNPBXN8BLHJRKEOD4">
    <input type="hidden" name="form_id" value="1">
    {% comment %}  {% endcomment %}
    <div class="pickup-Form">
      <div class="pickup">
        <div class="pickupLabel">Pickup Date:</div>
        <input type="date" name="Pickup" id="pickup">
      </div>
        <br>
      <div class="return">
        <div class="pickupLabel">Return Date:</div>
        <input type="date" name="Return" id="returnIt">
      </div>
      <div class="submitDate">
        <input type="submit" class="btn btn-primary" id="submitBtn"> <!-- brings the user forms -->
      </div>
    </div>
    {% comment %} User form {% endcomment %}
    <div class="customer-info">
      First Name: <br><input type="text" name="FirstName" placeholder="First Name" id="firstName">
      Last Name:  <br><input type="text" name="LastName" placeholder="Last Name" id="lastName">
      Address:  <br><input type="text" name="Address" placeholder="Address" id="inputAddress">
      Phone: <br><input type="number" name="Phone" id="contact">
      Email Address: <br><input type="text" name="Email" placeholder="name@example.com" id="email">
      City: <br><input type="text" class="form-control" id="inputCity" name="City">
      State: <br>
      <select id="inputState" class="form-control" name="State">
        <option selected>Choose...</option>
        <option value="---">---</option><option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Guam">Guam</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Northern Marianas Islands">Northern Marianas Islands</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Puerto Rico">Puerto Rico</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option><option value="Virgin Islands">Virgin Islands</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option>
      </select>

      Zip: <br> <input type="text" pattern="[0-9]{5}" minlength="5" maxlength="5" class="form-control" id="inputZip" placeholder="12345">
      Equipment: <br>
      <select id="inputState" class="form-control" name="Equipment">
        <option selected>Choose...</option>
        <option value="---">---</option><option value="Angle Surfice Grinder">Angle Surfice Grinder</option><option value="Auger Towable Post-Hole Digger">Auger Towable Post-Hole Digger</option><option value="Cement Mixer - 4 Cubic Feet">Cement Mixer - 4 Cubic Feet</option><option value="Concrete Finisher">Concrete Finisher</option><option value="Concrete Saw - Gas Powered 16inch">Concrete Saw - Gas Powered 16inch</option><option value="Crane">Crane</option><option value="Electric Jack Hammer - 50lbs impact Energy">Electric Jack Hammer - 50lbs impact Energy</option><option value="Man Lift - 40ft Platform Height">Man Lift - 40ft Platform Height</option><option value="Skid Steer - 3100 Operating apacity">Skid Steer - 3100 Operating apacity</option><option value="Skid Steer - Mini Track Loader">Skid Steer - Mini Track Loader</option><option value="Trencher - Walk Behind">Trencher - Walk Behind</option>
      </select>

      Comments: <br><textarea name="Comments" rows="5" placeholder="Enter your comments..."></textarea>
      {% comment %} <input type="submit" value="Submit Form" id="finalBtn"> {% endcomment %}
      <a href="https://www.neighborlysequipment.com/pages/rent-it-with-neighborlys" id="submitProduct">Submit</a>
      
      
    </div>
  </form>
</div>

{% comment %} <button type="submit" class="btn btn-primary" id="submitInfo">Submit</button> <!-- brings the modal --> {% endcomment %}

{% comment %} THIS IS CONFIRMATION SECTION {% endcomment %}

<!-- Modal -->
<div class="confirmation">
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Neighborly's Equipment is at your displosal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          {% comment %} THIS IS THE POP UP DIV {% endcomment %}
          <div class="modal-body">
            <h5>Please check your info...</h5>
            {% comment %} <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p> {% endcomment %}
            <pre>
              <div class="infoContainer">
                <p>First Name: <p id="nameDisplay"></p></p>
                <p>Last Name: <p id="lastnameDisplay"></p></p>
                <p>Delivery Address:  <p id="addressDisplay"></p></p>
                <p>Contact: <p id="contactDisplay"></p></p>
                <p>Email: <p id="emailDisplay"></p></p>
                <p>Pick-up on: <p id="pickDisplay"></p></p>
                <p>Return on: <p id="returnDisplay"></p></p>
              </div>
            </pre>
          </div>
          {% comment %} END POP UP DIV {% endcomment %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="redo">Redo</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveChanges">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} testing a form {% endcomment %}


<script>

$(".pickup-Form").show();
$("#finalBtn").hide();


// THIS SECTION FOR CLICKING PICKUP/RETURN DATES
$("#submitBtn").on("click", (e) => {
  e.preventDefault();

 
  let pickup = $("#pickup").val().trim();
  let returnIt = $("#returnIt").val().trim();
  let pickupDate  = pickup.toString().slice(-2);
  let returnItDate = returnIt.toString().slice(-2);
  let date = new Date();
  let todaysDate = date.getDate();
  //print user input in the console
  console.log(pickup);
  console.log(returnIt);
  console.log("pick up date ", pickupDate);
  console.log("drop of date ", returnItDate);

  if(!pickup || !returnIt ){
    alert("Uh oh!, check the dates...");
    return false;
  }

  
  $("#finalBtn").show();
  $(".dates").append(pickup);
  $(".customer-info").show();
  $(".pickup-Form").hide();
  $("#stepone").hide();
  $("#steptwo").show();
})



 // THIS SECTION FOR SUBMITTING USER INFO
$("#submitInfo").on("click", (e) => {
  e.preventDefault();

  let fName = $("#firstName").val().trim();
  let lName = $("#lastName").val().trim();
  let email = $("#email").val().trim();
  let contact = $("#contact").val().trim();
  let address = $("#inputAddress").val().trim();
  let city = $("#inputCity").val().trim();
  let state = $("#inputState").val().trim();
  let zip = $("#inputZip").val().trim();

  //print user input in the console
  console.log(fName + " " + lName + " " +  email + " " +
              address + " " + address1 + " " + city + " " + state + " " + zip);

  if(!fName || !lName || !email || !address || !city || !state || !zip ){
    alert("Uh oh!, check your information...");
    return false;
  }

  $(".customer-info").hide();
  $('#exampleModalCenter').show();

  //here we display the user input in the modal
  $("#nameDisplay").html(fName);
  $("#lastnameDisplay").html(lName);
  $("#addressDisplay").html( "\n " + address + " " + address1 + "\n " + city + " " + state + " " + zip);
  $("#contactDisplay").html(contact);
  $("#emailDisplay").html(email);
  $("#pickDisplay").html(pickup);
  $("#returnDisplay").html(returnIt);

})

$("#saveChanges").on("click", ()=> {
  $(".thankYou").show();
  $("#thankyouNote").show();
  $(".reserve-header").hide();
  $("#easy123").hide();
  $("#steptwo").hide();
})

$("#finalBtn").on("click", ()=> {
  location.reload();
})





</script>

