{{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js' | script_tag }}
{{ '"//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"' | script_tag }}
{{ '"//code.jquery.com/jquery-3.3.1.slim.min.js crossorigin="anonymous"' | script_tag }}
{{ '"//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"' | script_tag }}
{{ '"//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"' | stylesheet_tag }}


<h2 class="reserve-header">Reserve Your Equipment Today</h2>

{% comment %} CALENDAR PICK/DROP OFF DATES {% endcomment %}

<div class="pickup-Form">
  <form action="">
    <div class="pickup">
      Pick up Date:
      <input type="date" name="pickup" id="pickup">
    </div>
      <br>
    <div class="return">
      Return Date:
      <input type="date" name="return" id="returnIt">
    </div>
    <input type="submit" class="btn btn-primary" id="submitBtn">
  </form>
</div>

{% comment %} THIS SECTION IS USER INFO FORMS {% endcomment %}

<div class="customer-info">
  <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      {% comment %} empty {% endcomment %}
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" pattern="[0-9]{5}" minlength="5" maxlength="5" class="form-control" id="inputZip" placeholder="12345">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="btnUserInfo" data-toggle="modal" data-target="#exampleModalCenter">Submit</button>
</form>

</div>

{% comment %} THIS IS CONFIRMATION SECTION {% endcomment %}



<!-- Button trigger modal -->
{% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Your Rental Information Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% comment %} THIS IS THE POP UP DIV {% endcomment %}
        <div class="modal-body">
          <h5>Check your info...</h5>
          {% comment %} <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p> {% endcomment %}
          <p>
            Name: `${fName}`

          </p>

          <hr>
          <h5>Tooltips in a modal</h5>
          <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> have tooltips on hover.</p>
        </div>
        {% comment %} END POP UP DIV {% endcomment %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>

// THIS SECTION FOR CLICKING PICKUP/RETURN DATES
$("#submitBtn").on("click", (e) => {
  e.preventDefault();

  let pickup = $("#pickup").val().trim();
  let returnIt = $("#returnIt").val().trim();
  let pickupDate  = pickup.toString().slice(-2);
  let returnItDate = returnIt.toString().slice(-2);

  //print user input in the console
  console.log(pickup);
  console.log(returnIt);
  console.log(pickupDate);
  console.log(returnItDate);

  if(!pickup || !returnIt){
    alert("Uh oh!, check your the dates...");
    return false;
  }
  if(returnItDate < pickupDate) {
    alert("Looks like we're returning the equipment on a wrong date...");
    return false;
  }

  $(".customer-info").show();
  $(".pickup-Form").hide();
})

 // THIS SECTION FOR SUBMITTING USER INFO
$("#btnUserInfo").on("click", (e) => {
  e.preventDefault();
  let fName = $("#firstName").val().trim();
  let lName = $("#lastName").val().trim();
  let email = $("#email").val().trim();
  let address = $("#inputAddress").val().trim();
  let address1 = $("#inputAddress2").val().trim();
  let city = $("#inputCity").val().trim();
  let state = $("#inputState").val().trim();
  let zip = $("#inputZip").val().trim();

  //print user input in the console
  console.log(fName + " " + lName + " " +  email + " " +
              address + " " + address1 + " " + city + " " + state + " " + zip);

  $(".customer-info").hide();
  $(".confirmation").show();
  $('#exampleModal').show();
})
</script>

